.vscode/**
.github/**
src/**
out/**
test/**
**/*.test.ts
**/*.spec.ts
**/*.map
.gitignore
.vscodeignore
tsconfig.json
package-lock.json
vsc-extension-quickstart.md
node_modules/**
ui/**
!dist/**
!ui/dist/**
!resources/**
!package.json
!README.md
!LICENSE
